/* Short Features start */
h2.featsTitle {
    text-align: center;
    font-size: 5vw;
}

.featsShort {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ccc;
}

.featsShort div {

    color: #fff;
    width: 70vw;
    height: 70vw;
    margin: 20px;
    background-color: #333;
    border-radius: 15%;
    overflow: hidden;

}

.feats {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.feats p {

    font-size: 80px;
    text-align: center;
    margin: calc(50% - 92px/2) 0;
    padding: 0 20px;
}


.feats p:nth-child(1) {
    transition: visibility 0s, opacity 0.5s linear;
}

.feats p:nth-child(2) {
    font-size: 20px;
    text-align: center;
    visibility: hidden;
    margin: calc(50% - 111px/2) 0;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.feats:hover p:nth-child(1) {
    visibility: hidden;
    opacity: 0;
    order: 1;
}


.feats:hover p:nth-child(2) {
    visibility: visible;
    opacity: 1;
}


@media (min-width:1280px) {

    h2.featsTitle {
        text-align: center;
        font-size: 3vw;

    }

    .featsShort {
        margin: 3% auto;
        flex-direction: row;
        align-items: center;
    }

    .feats p {

        font-size: 80px;
        text-align: center;
        margin: calc(50% - 92px/2) 0;
        padding: 0 20px;
    }

    .feats p:nth-child(2) {
        margin: calc(50% - 92px/2) 0;
    }

    .featsShort div {
        width: 300px;
        height: 300px;
        margin: 20px;
        background-color: #333;
    }
}

/* Short features end */