.featsLong {
    margin: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;

}

.featsLong .test {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.featsLong .test img {
    width: 10%;
    height: 50%;
    flex: 0 0 10px;
    align-items: flex-start;
}

.featsLong article {
    background-image: url(../cool-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.featsLong article p {
    display: flex;
}

.featsLong article:last-child {
    padding-top: 0;
}

.featsLong h2 {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: teal;
    margin: 10px, 0;
}

@media (min-width: 800px) {

    .featsLong {
        display: flex;
        flex-direction: row;
    }

}