 * {
     box-sizing: border-box;
 }

 #instruction {
     position: absolute;
     background: rgba(255, 255, 255, 0.61);
     width: 987px;
     height: 673px;
     text-align: center;
     font-size: 2em;
     display: flex;
     flex-flow: column;
     justify-content: center;
 }

 .text {
     padding-bottom: 1em;

 }